:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #070707;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: SWIFT;
  src: url(./assets/fonts/SWIFTVF.ttf);
}
[contenteditable] {
  outline: 0px solid transparent;
}
.undisplay {
  display: contents;
}
#close-menu-button-container {
  transition: .25s ease-in;
}
div#root {
  width: 100%;
}
#close-menu-button-container button, #hamburger, button#close-menu-button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root, .MuiBox-root > button:nth-child(1)#hamburger, div.MuiContainer-root.MuiContainer-maxWidthLg.css-8gkiju-MuiContainer-root div.MuiBox-root.css-1jl5ek div.MuiBox-root.css-1obf64m div#close-menu-button-container.hide button#close-menu-button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root  {
  top: 1.5rem;
  position: fixed;
  right: 2rem;
}
#color-selection-menu-item {
  display: flex;
  flex-direction: row;
  top: 1rem;
  position: fixed;
  right: 0rem;
}
#color-selection-menu-item > button:nth-child(1) {
  right: 5.25rem;
  top: .8rem;
}
.slideup{
  animation: slideup .5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 normal forwards;
}

.slidedown{
  animation: slideup .5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 reverse forwards;
}

.shrink-color-module{

  animation: resize-color .4s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 reverse forwards;
}

div#fgcolor.MuiBox-root.css-0.on.shrink-color-module div#color-module-container-border.MuiBox-root.css-0 div#color-module-container.MuiBox-root.css-cywksh div#fg-picker{
  transition: height .5s ease;
}

#bg-picker.on.full ,#fg-picker.on.mini {
  height: 344px;
}
#bg-picker.on.full ,#fg-picker.on.full {
  height: 487px;
  display: grid;
}
#fg-picker {
  transition: .125s height;
}

@keyframes slideup {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
#fg-picker > div:nth-child(1) { height: 160px; }

#fg-picker > div:nth-child(2) > div:nth-child(2) > section:nth-child(2) {transition: .25s height ease-out, .025s opacity;}

#color-module-container {
  border: 30px solid;
    border-top-width: 30px;
    border-bottom-width: 30px;
  border-radius: 15px;
  border-top-width: 80px;
  background: transparent;
  border-bottom-width: 0;
}
.hide {opacity: 0; display: block!important; height: 0;pointer-events: none;}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#hamburger {
  transition: .25s ease-in-out ;
}

#fg-picker.on.hide.mini section.rcp-section:nth-child(2), #bg-picker.on.hide.mini section.rcp-section:nth-child(2)  {opacity:0; display: block!important;}

#fg-picker.on.mini section.rcp-section:nth-child(2), #bg-picker.on.mini section.rcp-section:nth-child(2)  {display:none}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
#slidernamepadding { 
  min-width: fit-content;
  padding-right: 10%;
  white-space: preserve;
}
#fgcolor {
  position:absolute;
  height:20vh; 
  right:2%; 
  bottom:2%; 
  width:auto; 
  min-width:min-content; 
  max-width:400; 
  display: none;
}

#bg-picker, #fg-picker { 
  display: none; 
}

.on#fgcolor, .on#bgcolor, .on#fg-picker, .on#bg-picker {   display:table;
}
#fgcolor.on.mini div.rcp-root.rcp div.rcp-interactive div.rcp-saturation, #bgcolor.on.mini div.rcp-root.rcp div.rcp-interactive div.rcp-saturation { cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='m20.71 5.63-2.34-2.34a.9959.9959 0 0 0-1.41 0l-3.12 3.12-1.93-1.91-1.41 1.41 1.42 1.42L3 16.25V21h4.75l8.92-8.92 1.42 1.42 1.41-1.41-1.92-1.92 3.12-3.12c.4-.4.4-1.03.01-1.42M6.92 19 5 17.08l8.06-8.06 1.92 1.92z'%3E%3C/path%3E%3C/svg%3E") 16 16, pointer;}
.mini.on#fgcolor, .mini.on#bgcolor  {   padding: 0 24px; max-width:350px; width: 80%; }

span#slidernamepadding { font-family: SWIFT; font-variation-settings: 'squi' 900;     font-size: 3rem;}
span {
  margin:0;
  transition: font-variation-settings .150s cubic-bezier(.46,.03,.52,.96);
 }

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.rcp-field-input {transition: all cubic-bezier(1,.48,0,.99) .25s;}

@media (prefers-color-scheme: dark) {
    #color-module-container-border {
      border: 3px solid #1d2029;
      border-radius: 1rem;
      background: var(--color-module-base);
    }
  #fg-picker.MuiBox-root.on.mini div.rcp-root.rcp, #bg-picker.MuiBox-root.on.mini div.rcp-root.rcp {padding-bottom: 40px;}

  div.rcp-root:nth-child(2) > div:nth-child(1) > div:nth-child(1) {display: none;}

  :root {
    --color-module-bordercolor:       #595f6b;
    --color-module-bordercolor-hover: #8f929b;
    --active-color-module-highlight:  #747bff;
    --inactive-color-module-shadow: #808692;
    --hover-color-module-shadow: #50546c;
    --color-module-base: #121212;
    }

  #color-module-container {background: currentColor; color: var(--color-module-base); width: 220px;}

  .rcp-field-input { 
    &:active, &:focus, &:hover:focus {
    border: 2px solid var(--active-color-module-highlight);
    border-radius: 5px;
  }
}
.rcp-saturation{
  height: 160px!important;
}
.rcp-interactive{
  min-width: 200px;
}
  .rcp-field-input:hover {
    border: 2px solid #393b50;
    border-radius: 5px;
  }

  a:hover {
    color: var(--active-color-module-highlight);
  }
  .rcp-fields {
    display:flex;
    flex-direction:column;
    gap:16px;
  }
  .rcp-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 200px;
    padding-top: 24px;
    padding-bottom: 0;
  }

  
#close-menu-button-container button, #color-selection-menu-item button, button#hamburger, #close-color-button button, #resize-color-button button, button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root, div#resize-color-button.MuiBox-root.css-0 button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root svg  {
    color: var(--color-module-bordercolor);   
    fill: var(--color-module-bordercolor)!important; 
    transition: ease .4s all;
      }
      #close-menu-button-container button svg:hover, #color-selection-menu-item button svg:hover, button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root:hover, div#resize-color-button.MuiBox-root.css-0 button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root svg:hover {
        color: var(--color-module-bordercolor-hover); fill: var(--color-module-bordercolor-hover)!important; 
          }
    
  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root {
        &:active, &:active:focus {
color:#fff
      }
  }
  div#resize-color-button.MuiBox-root.css-0 button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root svg {
    &:active, &:active:focus {
      fill: #fff!important;
            }      
  }


div.rcp-saturation {
border-radius: 1rem;
}

  .rcp-fields-floor {
    gap:16px;
  }
  .rcp { gap:5rem; display: grid; padding-bottom: 28px;}
  .MuiButtonBase-root.MuiButton-root {
    padding: 0px .75rem 10px .75rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: .90rem;
    transition:cubic-bezier(.45,.05,.55,.95) .25s all;
  }

  .active-color-module-highlight, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.active-color-module-highlight, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-firstButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.active-color-module-highlight {
    color: var(--active-color-module-highlight);
    border-color: var(--active-color-module-highlight);
  }  
  
  .inactive-color-module-shadow, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-firstButton.inactive-color-module-shadow, .css-1xazgr2-MuiButtonGroup-root button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-lastButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.inactive-color-module-shadow, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-firstButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.inactive-color-module-shadow {
    color: var(--inactive-color-module-shadow);
    border-color: var(--inactive-color-module-shadow);
  }  
  .inactive-color-module-shadow:hover, .css-1xazgr2-MuiButtonGroup-root button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-lastButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.inactive-color-module-shadow:hover, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-firstButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.inactive-color-module-shadow:hover {
  color: var(--hover-color-module-shadow);
  border-color: var(--hover-color-module-shadow);
  }
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-lastButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.active-color-module-highlight {
    color: var(--active-color-module-highlight);
    border-color: var(--active-color-module-highlight);
  }

  .MuiButtonGroup-root button.MuiButtonBase-root:nth-child(1), .MuiButtonGroup-firstButton.css-cghv7y-MuiButtonBase-root-MuiButton-root {
    border-bottom: 2px solid;
    text-transform: none;
  }
  button.MuiButtonBase-root:nth-child(2), .MuiButtonGroup-lastButton.css-4ca7ag-MuiButtonBase-root-MuiButton-root {
    color: #808692; 
    border-bottom: 2px solid;
    border-radius: 0;
    text-transform:none;

  }
  .MuiButtonGroup-root button.MuiButtonBase-root .MuiTouchRipple-root{
display: none;
    }
    #color-picker-header { top: 1.75rem;
      display: flex;
      position: absolute;
      font-size: 1.1rem;
      color: #e3e5f1;
      width: fit-content;
      font-weight: 600;
      flex-direction: row;
      margin: 0;
      left: 2rem;
    }
  button.MuiButtonBase-root:focus { box-shadow: none;  outline: none;}
  .MuiButtonGroup-root 
  {
  flex-direction: row;
  padding: 32px 0;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}

button.MuiButton-root:nth-child(1) > svg:nth-child(1), button.MuiButtonBase-root:nth-child(2) > svg:nth-child(1) {
padding: 0 6px;

}
#resize-color-button {
  position: absolute;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: .9rem;
  right: 4.3rem;
}

#resize-color-button > button:nth-child(1) > svg:nth-child(1) {
  width: 36px;    
  top: 3px;
  position: inherit;
  left: 1px;
  height: 36px;
}

  .MuiButtonGroup-middleButton {border-bottom: 2px;}
  .rcp-field {
    display:flex;
    flex-direction:column;
    width:100%
  }
  .rcp-field-input {
    width:80%;
    border-radius:5px;
    padding:5px 0;
    margin-left: 48px;
  }
  
  .rcp-field-label {
    font-size:14px;
    color:#595959;
    position: absolute;
    left: 32px;
    padding: 6px;
  }
  .rcp-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #close-color-button {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: .9rem;
    right: 1.3rem;
  }
  }

@media (prefers-color-scheme: light) {
  #color-module-container-border {
    border: 3px solid #d5d7e2;
    border-radius: 1rem;
    background: var(--color-module-base);
  }

  #fg-picker.MuiBox-root.on.mini div.rcp-root.rcp, #bg-picker.MuiBox-root.on.mini div.rcp-root.rcp {padding-bottom: 40px;}

  div.rcp-root:nth-child(2) > div:nth-child(1) > div:nth-child(1) {display: none;}


  #color-module-container {background: var(--color-module-base); color: var(--color-module-base); width: 220px;}
  .rcp-field-input {transition: .25s ease-in-out ;}

  .rcp-field-input { 
    &:active, &:focus, &:hover:focus {
    border: 2px solid var(--active-color-module-highlight);
    border-radius: 5px;
  }
}
.rcp-saturation{
  height: 160px!important;
}
.rcp-interactive{
  min-width: 200px;
}
  .rcp-field-input:hover {
    border: 2px solid #b0b1c5;
    border-radius: 5px;    
  }

  a:hover {
    color: var(--active-color-module-highlight);
  }
  .rcp-fields {
    display:flex;
    flex-direction:column;
    gap:16px;
  }
  .rcp-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 200px;
    padding-top: 24px;
    padding-bottom: 0;
  }

 button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root, div#resize-color-button.MuiBox-root.css-0 button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root svg  {
    color: var(--color-module-bordercolor);   
    fill: var(--color-module-bordercolor)!important; 
    transition: ease .4s all;
      }
      button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root:hover, div#resize-color-button.MuiBox-root.css-0 button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root svg:hover {
        color: var(--color-module-bordercolor-hover); fill: var(--color-module-bordercolor-hover)!important; 
          }
    
  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root {
        &:active, &:active:focus {
color:#fff
      }
  }
  div#resize-color-button.MuiBox-root.css-0 button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1drgtl0-MuiButtonBase-root-MuiIconButton-root svg {
    &:active, &:active:focus {
      fill: #fff!important;
            }      
  }


div.rcp-saturation {
border-radius: 1rem;
}

  .rcp-fields-floor {
    gap:16px;
  }
  .rcp, #bg-picker > div:nth-child(2) { gap:5rem; display: grid; padding-bottom: 28px; background-color: var(--color-module-base);}
  .MuiButtonBase-root.MuiButton-root {
    padding: 0px .75rem 10px .75rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: .90rem;
    transition:cubic-bezier(.45,.05,.55,.95) .25s all;
  }

  button.MuiButtonBase-root:nth-child(2).active-color-module-highlight, button.MuiButton-root:nth-child(1).active-color-module-highlight , .active-color-module-highlight, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-firstButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.active-color-module-highlight {
    color: var(--active-color-module-highlight);
    border-color: var(--active-color-module-highlight);
  }  
  
  button.MuiButtonBase-root:nth-child(2).inactive-color-module-shadow, button.MuiButton-root:nth-child(1).inactive-color-module-shadow , .inactive-color-module-shadow, .css-1xazgr2-MuiButtonGroup-root button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-lastButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.inactive-color-module-shadow, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-firstButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.inactive-color-module-shadow {
    color: var(--inactive-color-module-shadow);
    border-color: var(--inactive-color-module-shadow);
  }  
  .inactive-color-module-shadow:hover, .css-1xazgr2-MuiButtonGroup-root button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-lastButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.inactive-color-module-shadow:hover, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-firstButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.inactive-color-module-shadow:hover {
  color: var(--hover-color-module-shadow);
  border-color: var(--hover-color-module-shadow);
  }
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-disableElevation.MuiButtonGroup-grouped.MuiButtonGroup-groupedVertical.MuiButtonGroup-groupedText.MuiButtonGroup-groupedTextVertical.MuiButtonGroup-groupedTextPrimary.MuiButtonGroup-lastButton.css-cghv7y-MuiButtonBase-root-MuiButton-root.active-color-module-highlight {
    color: var(--active-color-module-highlight);
    border-color: var(--active-color-module-highlight);
  }

  .MuiButtonGroup-root button.MuiButtonBase-root:nth-child(1), .MuiButtonGroup-firstButton.css-cghv7y-MuiButtonBase-root-MuiButton-root {
    border-bottom: 2px solid;
    text-transform: none;
  }
  button.MuiButtonBase-root:nth-child(2), .MuiButtonGroup-lastButton.css-4ca7ag-MuiButtonBase-root-MuiButton-root {
    color: #808692; 
    border-bottom: 2px solid;
    border-radius: 0;
    text-transform:none;

  }
  .MuiButtonGroup-root button.MuiButtonBase-root .MuiTouchRipple-root{
display: none;
    }
    #color-picker-header { top: 1.8rem;
      display: flex;
      position: absolute;
      font-size: 1.1rem;
      color:#5c5f6b;
      width: fit-content;
      font-weight: 600;
      flex-direction: row;
      margin: 0;
      left: 2rem;
    }
  button.MuiButtonBase-root:focus { box-shadow: none;  outline: none;}
  .MuiButtonGroup-root 
  {
  flex-direction: row;
  padding: 32px 0;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}

button.MuiButton-root:nth-child(1) > svg:nth-child(1), button.MuiButtonBase-root:nth-child(2) > svg:nth-child(1) {
padding: 0 6px;

}
#resize-color-button {
  position: absolute;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: .9rem;
  right: 4.3rem;
}
.rcp-root {
  --rcp-field-input-color: #595959;
  --rcp-field-input-border-color: rgb(214, 214, 214);
}
.rcp-field-input {
  background-color: var(--color-module-base);
}
#resize-color-button > button:nth-child(1) > svg:nth-child(1) {
  width: 36px;    
  top: 3px;
  position: inherit;
  left: 1px;
  height: 36px;
}

  .MuiButtonGroup-middleButton {border-bottom: 2px;}
  .rcp-field {
    display:flex;
    flex-direction:column;
    width:100%
  }
  .rcp-field-input {
    width:80%;
    border-radius:5px;
    padding:5px 0;
    margin-left: 48px;
  }
  .rcp-field-label {
    font-size:14px;
    color:#595959;
    position: absolute;
    left: 32px;
    padding: 6px;
  }
  .rcp-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  div.MuiContainer-root.MuiContainer-maxWidthLg.css-8gkiju-MuiContainer-root div.MuiBox-root.css-1bjb6kg div#close-menu-button-container button#close-menu-button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
top: 1.5rem;
position: absolute;
right: 1.95rem;
  }


  :root {
    --color-module-bordercolor:       #595f6b;
    --color-module-bordercolor-hover: #8f929b;
    --active-color-module-highlight:  #747bff;
    --inactive-color-module-shadow: #808692;
    --hover-color-module-shadow: #50546c;
    --color-module-base: #fff;
    color: #121212;
    }

  #close-color-button {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: .9rem;
    right: 1.3rem;
  }
  }
  .MuiButtonGroup-root button.MuiButtonBase-root {
    &:nth-child(1):hover, &:nth-child(2):hover {background: none;}
  }
.rcp-saturation {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style=' filter: opacity(.75)' width='50' height='50'%3E%3Ccircle cx='12' cy='12' r='11' stroke='white' stroke-width='2.5' fill='none'/%3E%3C/svg%3E") 12 12, auto;
}